:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px 16px;
  box-shadow: 0 1px 3px 0 gray, 0 1px 2px -1px gray;
  flex-shrink: 0;
  z-index: 10;
  background: white;
}

.logo {
  height: 60px;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}

h1 {
  font-size: 18px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  padding: 10px 16px;
  border-top: solid 1px lightgray;
  flex-shrink: 0;
  background: white;
  z-index: 10;
}

footer p {
  text-align: center;
  font-size: 14px;
}

@media screen and (min-width: 1280px) {
  header {
    padding: 12px 15vw;
  }

  footer {
    padding: 12px 15vw;
  }
}
