:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-color: var(--secondary);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px 16px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
  flex-shrink: 0;
  z-index: 10;
  background: white;
}

.logo {
  height: 50px;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}

h1 {
  text-align: right;
  font-size: 16px;
  font-weight: 600;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  padding: 10px 16px;
  border-top: solid 1px lightgray;
  flex-shrink: 0;
  z-index: 10;
}

footer p {
  text-align: center;
  font-size: 12px;
  color: var(--primary);
}

footer p:first-child {
  font-size: 14px;
}

@media screen and (min-width: 1280px) {
  header {
    padding: 12px 15vw;
  }

  footer {
    padding: 12px 15vw;
  }
}