header {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 16px;
    border-bottom: solid 1px gray;
    box-shadow: 0 1px 3px 0 gray, 0 1px 2px -1px gray;
}

.logo {
    height: 60px;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}

h1 {
    font-size: 15px;
}

p {
    font-size: 14px;
}
