header {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 16px;
    box-shadow: 0 1px 3px 0 gray, 0 1px 2px -1px gray;
}

.logo {
    height: 60px;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}

h1 {
    font-size: 18px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    padding: 16px;
    border-top: solid 1px lightgray;
}

footer p {
    text-align: center;
    font-size: 14px;
}

@media screen and (min-width: 1280px) {
    header {
        padding: 12px 15vw;
    }

    footer {
        padding: 12px 15vw;
    }
}