:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  min-height: 0;
  overflow: hidden;
}

section {
  display: flex;
  flex-direction: column;
  margin: 24px 16px;
  max-height: calc(100% - 48px);
  border-radius: 15px;
  box-shadow: 0 1px 3px 0 gray, 0 1px 2px -1px gray;
  overflow: hidden;
}

.section-header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 16px;
  background-color: var(--primary);
  color: white;
  flex-shrink: 0;
}

.section-header-info {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.section-header-info h2,
h3 {
  font-size: 18px;
}

.section-header-info p {
  font-size: 16px;
}

.section-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 16px;
  padding: 16px 12px;
  border: solid 1px var(--primary);
  border-radius: 15px;
  flex-shrink: 0;
}

.section-info-title {
  display: flex;
  align-items: center;
  gap: 5px;
}

.icon-location {
  color: var(--primary);
}

.section-info-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 7px;
  margin-left: 10px;
  font-size: 14px;
}

.section-info-text b {
  font-weight: 900;
}

.section-main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
  margin: 0 16px;
  padding: 12px 0;
  overflow-y: auto;
  min-height: 0;
}

.section-main form {
  display: grid;
  gap: 16px;
}

.section-main-form-field {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.section-main-form-field label {
  font-size: 16px;
}

.section-main-form-field select {
  padding: 12px 24px;
  color: var(--primary);
  font-size: 16px;
  font-weight: 600;
  border: solid 1px var(--primary);
  border-radius: 15px;
  cursor: pointer;
}

.section-main-form-field option {
  font-size: 16px;
  font-weight: 600;
}

.section-main-form-field input {
  padding: 12px 24px;
  font-size: 16px;
  border: solid 1px var(--primary);
  border-radius: 15px;
}

.section-main-form-buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
  flex-shrink: 0;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-family: var(--font-regular);
  font-size: 16px;
  font-weight: 600;
  padding: 12px 24px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
  transition: 0.3s;
}

.section-main-btn-clean {
  background-color: lightgray;
  color: var(--primary);
  border: solid 1px var(--primary);
}

.section-main-btn-confirm {
  background-color: var(--primary);
  color: white;
}

@media screen and (min-width: 1280px) {
  section {
    margin: 24px 15vw;
    width: auto;
  }

  .section-main form {
    grid-template-columns: 1fr 1fr;
  }

  .section-main-form-buttons {
    flex-direction: row;
  }

  .section-main-form-buttons button {
    width: 100%;
  }
}