@font-face {
    font-family: 'Kelson Sans';
    src: url('../fonts/Kelson\ Sans\ Light_0.otf');
}

@font-face {
    font-family: 'Kelson Sans Regular';
    src: url('../fonts/Kelson\ Sans\ Regular_0.otf');
}

:root {
    --primary: #1D2362;
    --secondary: #EEEFF7;

    --font: "Kelson Sans", sans-serif;
    --font-regular: "Kelson Sans Regular", sans-serif;
}

*{
    font-family: var(--font);
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}

html, body { height: 100%; background-color: var(--secondary) ; color: var(--primary); font-weight: 600; }

h2, h3, h4, b, label {
    font-family: var(--font-regular);
}