@font-face {
    font-family: 'Kelson Sans';
    src: url('../fonts/Kelson\ Sans\ Light_0.otf');
}

:root {
    --primary: #1D2362;

    --font: "Kelson Sans", sans-serif;
}

*{
    font-family: var(--font);
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}

html, body { height: 100%; color: var(--primary); font-weight: 600; }
