@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --blue: #1D2362;

    --font: "Roboto", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    font: var(--font);
}
