section {
    box-shadow: 0 1px 3px 0 gray, 0 1px 2px -1px gray;
    border-radius: 15px;
    margin: 24px 16px;
    overflow: hidden;
}

.section-header {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--primary);
    color: white;
    padding: 16px;
}

.section-header-info {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.section-header-info h2, h3 {
    font-size: 18px;
}

.section-header-info p {
    font-size: 16px;
}

.section-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 16px;
    padding: 16px 12px;
    border: solid 1px var(--primary);
    border-radius: 15px;
}

.section-info-title {
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon-location {
    color: var(--primary);
}

.section-info-text {
    margin-left: 10px;
    font-size: 14px;
    text-align: justify;
}

.section-info-text b {
    font-weight: 900;
}

.section-main {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 12px 0;
    margin: 16px 16px 0;
    border-radius: 15px;
}

.section-main-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.section-main-info-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.section-main-info-item p {
    font-size: 14px;
}

.section-main-note {
    display: flex;
    gap: 10px;
    padding: 16px 12px;
    border: solid 1px var(--primary);
    border-radius: 15px;
}

.section-main-note p {
    font-size: 14px;
    text-align: justify;
}

.section-main-buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

button {
    font-size: 16px;
    font-weight: 600;
    padding: 12px 24px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
    transition: 0.5s;
}

.section-main-btn-clean {
    background-color: lightgray;
}

.section-main-btn-confirm {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: var(--primary);
    color: white;
}

@media screen and (min-width: 1280px) {
    section {
        margin: 24px 15vw;
    }

    .section-main-buttons {
        flex-direction: row;
    }

    .section-main-buttons button {
        width: 100%;
    }
}