<section>
  <div class="section-header">
    <div class="section-header-icon">
      <lucide-icon [img]="Sun" class="my-icon"></lucide-icon>
    </div>
    <div class="section-header-info">
      <h2>Sistema de dimensionamento de bombeamento solar</h2>
    </div>
  </div>
  <div class="section-info">
    <div class="section-info-title">
      <div class="section-info-icon">
        <lucide-icon [img]="MapPin" class="my-icon"></lucide-icon>
      </div>
      <h3>Clique no mapa para selecionar os pontos de origem e destino</h3>
    </div>

    <div class="section-info-text">
      <p>
        <span class="place-origin"></span>Ponto de Captação:
        {{
          point1
            ? point1.lat.toFixed(4) + ", " + point1.lng.toFixed(4)
            : "Não selecionado"
        }}
      </p>
      <p>
        <span class="place-destination"></span>Reservatório:
        {{
          point2
            ? point2.lat.toFixed(4) + ", " + point2.lng.toFixed(4)
            : "Não selecionado"
        }}
      </p>
    </div>
  </div>
  <div class="section-main" id="map"></div>
  <div class="section-footer">
    <button (click)="clearMap()" class="section-footer-btn-clean">
      <lucide-icon [img]="BrushCleaning" class="my-icon"></lucide-icon>
      Limpar Pontos
    </button>
    <button (click)="confirm()" class="section-footer-btn-confirm">
      <lucide-icon [img]="Navigation" class="my-icon"></lucide-icon>
      Confirmar Pontos
    </button>
  </div>
</section>
