:host {
  display: flex;
  flex: 1;
  width: 100%;
  min-height: 0;
}

section {
  box-shadow: 0 1px 3px 0 gray, 0 1px 2px -1px gray;
  border-radius: 15px;
  margin: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.section-header {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--primary);
  color: white;
  padding: 16px;
  flex-shrink: 0;
}
.section-header-info {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.section-header-info h2,
h3 {
  font-size: 18px;
}
.section-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 16px;
  padding: 16px 12px;
  border: solid 1px var(--primary);
  border-radius: 15px;
  flex-shrink: 0;
}
.section-info-title {
  display: flex;
  align-items: center;
  gap: 5px;
}
.icon-location {
  color: var(--primary);
}
.section-info-text {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-left: 10px;
  font-size: 14px;
}
.section-info-text p {
  display: flex;
  align-items: center;
  gap: 5px;
}
span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.place-origin {
  background-color: green;
}
.place-destination {
  background-color: red;
}

.section-main {
  background-color: lightgray;
  flex: 1;
  min-height: 0;
  margin: 0 16px;
  border: 1px solid var(--primary);
  border-radius: 15px;
  display: block;
}

.section-footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-radius: 0 0 20px 20px;
  flex-shrink: 0;
}
button {
  font-size: 16px;
  font-weight: 600;
  padding: 12px 24px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
  transition: 0.5s;
}
.section-footer-btn-clean {
  background-color: lightgray;
}
.section-footer-btn-confirm {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: var(--primary);
  color: white;
}

@media screen and (min-width: 1280px) {
  section {
    margin: 24px 15vw;
    width: auto;
  }
  .section-footer {
    flex-direction: row;
  }
  .section-footer button {
    width: 100%;
  }
}
