<section>
    <div class="section-header">    
        <div class="section-header-info">
            <h2>Selecione os pontos de captação e entrega no mapa</h2>
        </div>
        <button>Centralizar</button>
    </div>
    <div class="section-map">
        
    </div>
    <div class="section-footer">
        <div class="section-footer-info">
            <p>Ponto de Captação</p>
            <p>Reservatório</p>
        </div>
        <div class="section-footer-buttons">
            <button class="section-footer-buttons-btn">Limpar Pontos</button>
            <button class="section-footer-buttons-btn">Confirmar Pontos</button>   
        </div>
    </div>
    
</section>